.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  width: 100vw;
  height: auto;
  border: solid black 2px;
  top: 120px;
  bottom: 20px;
  /* transform: translate(-20%); */
  z-index: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  
}
@media (max-width:600px) {
  .board {
    border: solid green 2px;
    width: 100vw;
    transform: translate(0%);
    margin: auto;
    color: #2D3436;
  }
}


.minitask {
  color: #2D3436;
  padding: 10px 20px 20px;
  overflow-wrap: break-word;
  margin: 20px;
  width: 180px;
  height: 250px;
  background-color:#EFF4FF ;
  border: solid #CED4DA ;
  border-radius: 7px;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s ease;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80% 10%;
  justify-items: start;
  align-items: start;
  overflow: hidden;
}


@media (max-width:600px) {
  .minitask {
    padding: 10px 20px 20px;
    overflow-wrap: break-word;
    margin: 10px;
    width: 150px;
    height: 200px;
    background-color:#E8ECEF ;
    border-radius: 7px;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.5s ease;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80% 10%;
    align-items: start;
    gap: 0px;
    border: solid #CED4DA ;
    color: #2D3436;
    align-items: start;
    justify-items: start;
    overflow: hidden;
    clip-path: inset(0px 0px 0px 0px round 0px);
  }

}

.fadeIn {
  opacity: 1;
  transform: translateY(0px);
  /* width: 250px;
    height: 300px; */

}

.fadeOut {
  opacity: 0;
  transform: translateY(-90px);
  /* width: 0;
    height: 0; */
}

.time {
  color: #b3ccf7;
  font-weight: 100;
  font-size: 15px;
  font-family: arial;
  position: relative;
  align-self: start;
  justify-self: end;


}

@media (max-width:600px) {
  .time {
  color: #b3ccf7;
  font-weight: 100;
  font-size: 15px;
  font-family: arial;
  position: relative;
  align-self: start;
  justify-self: end;


  }
}
.miniSub {
  align-self: center;
  font-size: 25px;
  font-weight: bold;
  
}
@media (max-width:600px) {
  .miniSub {
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  }
}

.minicont{
  height: 75%;
  padding: 0 0 15% 0 ;
  align-self: center;
  font-size: 18px;
  font-weight: normal;
}
@media (max-width:600px) {
  .minicont {
  height: 75%;
  padding: 0 0 20% 0 ;
  align-self: center;
  font-size: 15px;
  font-weight:normal;
  }
}