body {
  display: flex;
  justify-content: center;
  background-color: #F9FAFB;
  padding: 0px;
  z-index: -2;

}

button {
  border: white solid 1px;
  width: 125px;
  min-height: 35px;
  border-radius: 10px;
  background-color: #6366F1;
  margin: 1px auto;
  color: white;
}

button:hover {
  background-color:#4F46E5;

  }

.nav{
  width: 100vh;
  height: 60px;
  background-color: #5B21B6;
  margin: 0px 0 20px 0;
}