body {
  display: flex;
  justify-content: center;
  background-color: #F5F7FA;
  padding: 0px;
  z-index: -2;

}

button {
  border: white solid 0px;
  width: 125px;
  min-height: 35px;
  height: 7px;
  border-radius: 15px;
  background-color:#0984E3;
  margin: 1px 1px;
  color: white;
}

button:hover {
  background-color:#0870C2

  }

.nav{
  width: 100vw;
  height: 40px;
  background-color: #2C3E50;
  margin: 0px 0 20px 0;
}

