body {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  z-index: -2;
}

button {
  border: white solid 1px;
  width: 125px;
  min-height: 35px;
  border-radius: 10px;
  background-color: rgb(255, 146, 146);
  margin: 1px auto;
}

button:hover {
  background-color: rgb(255, 73, 88);

  }